/* CSS per distinguere le sezioni */

header {
  background-color: 2C3E50;
  height: 100px;
}

.jumbotron {
  background-color: #1ABC9C;
  height: 200px;
}

.portfolio {
  background-color: #fff;
  height: 500px;
}

.about {
  background-color: #1ABC9C;
  height: 350px;
}

.contact .container {
  width: 60%;
}